/** Logo **/
.logoForm{
    position: absolute;
    top: -5%;
    left: -6%;
    width: clamp(110px, 12%, 400px);
    height: 12%;
}

/**  Form  **/
#formPageMain{
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formPageSection{
    position: relative;
    width: 90%;
    height: 80%;
    display: flex;
    background: rgb(158,34,144);
    background: radial-gradient(circle, rgba(158,34,144,1) 0%, rgba(65,15,87,1) 62%, rgba(30,10,60,1) 100%);
    border: 4px solid #FF95D4;
    border-radius: 60px;
    padding: 3% 5% 5% 5%;
    box-shadow: 0px 0px 50px 10px #FF77A2;
    justify-content: space-between;
}

#formPageModal{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    background-color: #00000096;
    height: 100dvh;
    width: 100vw;
    top: 0;
    left: 0;
}

/********************* CONTEST INFO PART *******************/

.form-contest-info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/** For the Contest Info headerz  **/

.contest-info-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing--l);
}

.contest-info-header .contest-info-wrapper{
    position: relative;
    display: inline-block;
    font-family: var(--font-gabarito);
    font-weight: 900;
    font-style: normal;
    /* font-size: 2.25rem; */
    font-size: clamp(2.25rem, 1.921rem + 1.754vw, 3.5rem); 
}
.contest-info-wrapper{
    border: 5px solid rgba(255, 211, 66, 1);
    padding: 8px 16px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(73,12,21,1) 0%, rgba(140,12,21,1) 50%, rgba(73,12,21,1) 100%); 
}
.contest-info-button{
    display: none;
}

.contest-info-wrapper__stroke{
    position: absolute;
    z-index: 0;
    color: transparent;
    -webkit-text-stroke: 3px #A12C0B;
}

.contest-info-wrapper__fill{
    position: relative;
    z-index: 1;
    background: linear-gradient(180deg, #FFEB53 31.9%, #FFFEB1 46.4%, #FFD269 68.4%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-contest-text-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}


/** paragraph text **/
.form-contest-info__p{
    font-size: var(--font-size--p);
}

.form-contest-info__p--bottom{
    /* height: auto;
    display: block;
    width: auto; */
    align-self: flex-end;
    font-size: 12px;
    line-height: 1rem;
    margin-top: auto;
    position: relative;
    bottom: 0;
}

.contest-info-button{
    background-color: #105BFE;
    border: 2px solid #FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.2rem;
}
/** Bar **/
#progressBar{
    height: 20%;
}
#theBar{
    height: 20%;
}
.ProgressComponent{
    height: 300px;
}

/*************************************  FORM  ******************************/

#formContent{
    min-width: 40%;
    max-width: 45%;
}

input{
    font-family: "Poppins";
    font-size: var(--font-size--p);
    padding: 10px;
    border: #FFFFFF solid 2px;
    background-color: #4C2A4E;
    color: white;
    height: 40px;
    border-radius: 10px;
    width: 100%;
}

.formHeading{
    font-family: 'poppins';
    font-weight: 700;
    font-size: var(--font-size--form-header);
    color: white;
    margin-bottom: var(--spacing--l);
}

.formSubHeading{
    width: 100%;
    font-weight: 600;
    font-size: var(--font-size--form-subheader);
    color: white;
    margin-bottom: var(--spacing--m);
}


/** This is the fieldset for the half */
.fieldset2{
    width: 100%;
    display: grid;
    gap: 16px;
    border: none;
    min-width: 0;
    grid-template-columns: repeat(2, 1fr);
    /* flex: 1; */
}

.formLabel{
    color: white;
    font-size: var(--font-size--p);
    margin-bottom: 4px;
    /* max-width: 40%; */
}

.formWide{
    width: 100%;
    border-radius: 10px;
}

/* .formHalf{
    width: 50%;
} */

.formElement{
    position: relative;
    display: flex;
    flex-direction: column;
}

.formInput{
    height: 40px;
}

/*****  ERROR BAR  **********/

.formErrorBar{
    position: absolute;
    z-index: 555;
    top: 80px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    filter: drop-shadow(4px 4px 4px black);
    display: none;
}

.formErrorCheck{
    top: 50px;
}

.formErrorMessage{
    color: black;
    padding: 10px 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
}

/** this is so the error bar appears */
input:focus ~ .formErrorBar{
    display: block;
}

.formError{
    display: none;
}

.formWide:focus + .formError{
    display: block;
    top: 76px;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    filter: drop-shadow( 0.1rem 0.5rem 0.5rem rgb(10, 10, 10));
    z-index: 8;
}

.formHalf:focus + .formError{
    display: block;
    top: 76px;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    filter: drop-shadow( 0.1rem 0.5rem 0.5rem rgb(10, 10, 10));
    z-index: 8;
}


.formButtons{
    margin-top: 32px;
    display: flex;
    flex-direction: row;
}

#consentPage{
    flex-direction: column;
}

.formCheck{
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 8px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;

    width: 40px;
    height: 40px;
    margin-right: 24px;

    background-clip: content-box;
    color: #4C2A4E;
    border: white 2px solid;
    border-radius: 10px;
    &:checked{
    background-color: white;
}

&:focus{
    outline: none !important;
}
}

/**********   BUTTONS ****/
.pageButton{
    width: 106px;
    height: 48px;
    border: 4px solid #0E1F25;
    border-radius: 10px;
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 30px;
    align-items: center;
    justify-content: center;
    color: #000000;
    cursor: pointer;

}

.nextButton{
    background: linear-gradient(180deg, #0094D7 0%, #00BDDD 15%, #FFFFFF 50%, #00BDDD 85%, #0094D7 100%);
    box-shadow: 0px 0px 15px 2px #91E4FF;
}

.backButton{
    background: linear-gradient(180deg, #695507 0%, #F8E74C 15.49%, #FFF3EF 50.49%, #F8E74C 84.99%, #695507 100%);
    box-shadow: 0px 0px 15px 2px #F8D757;
    margin-right: 16px;
}

.inactive{
    filter: grayscale(0.5), brightness(0.9);
}


.No-Display{
    display: none;
}

/************    LEGAL PAGE ***************************/

#legalPageMain{
    width: 100%;
    height: 100vh;
    height: 100dvh;
    padding:  4%;
    overflow: hidden;
    display: flex;
    gap: 5%;
}

.legal-rules{
    width: 50%;
    height: 100%;
}

.legal-info{
    padding: 2.5%;
    background-color: var(--color--tertiary);
    border-radius: 20px;
    border: 2px solid var(--color--secondary);
    filter: drop-shadow(0px 4px 30px  var(--color--secondary));
    height: 85%;
}

.legal-ol{
    /* margin-right: ; */
    overflow-y: scroll;
    height: 100%;
}

.legal-ol__item{
    list-style-position: inside;
    margin: 1rem;
    font-weight: 700;
}

.legal-ul__item{
    font-weight: 400;
}

/** Consent **/
.consent{
    width: 50%;
    display: flex;
    align-items: center;
}

.consentBox{
    cursor: pointer;
    padding: 0px;
    min-width: 40px;
    /* appearance: none; */
}

.consentBox:checked{
    padding: 10px;
    background-color: var(--color--tertiary);
}

.consentBox::before{
    background-color: var(--color--tertiary);
}

@media only screen and (max-width: 480px) {

    .formHeading{
        font-size: 1.5rem;
    }

    
    #formPageSection{
        flex-direction: column;
        height: 90dvh;
        padding: 80px 32px 32px 32px;
        justify-content: flex-start;
    }

    #form-contest-info-modal{
        height: 100%;
    }

    .form-contest-info{
        width: 100%;
        height: fit-content;
    }

    .form-contest-info__p--bottom{
        align-self: flex-end;
        margin-top: auto;
    }

    .contest-info-button{
        display: block;
        cursor: pointer;
    }

    .contest-info-close{
        border: 0;
        background-color: transparent;
        cursor: pointer;
        font-size: 1.5rem;
    }

    .contest-info-header > .contest-info-wrapper{
        font-size: 2rem;
    }

    .form-contest-text-wrapper{
        display: none;
    }

    #formContent{
        min-width: 100%;
    }

    .pageButton{
        font-size: 1rem;
        width: 88px;
        height: 48px;
    }


    /** legal page**/
    #legalPageMain{
        flex-direction: column;
        gap: 16px;
    }

    .legal-rules{
        width: 100%;
        height: 60%;
    }

    .rules-regulations-wrapper{
        width: 100%;
        text-align: center;
    }

    .rules-regulations__title{
        display: inline-block;
        width: 100%;
    }

    .consent{
        width: 100%;
    }
    

    .legal-label{
        font-size: 0.8rem;
    }
}