:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body{
  background: rgb(158,34,144);
  background: radial-gradient(circle, rgba(158,34,144,1) 0%, rgba(65,15,87,1) 62%, rgba(18,5,37,1) 100%);}
.relative{
  position: relative;
}
.contestInfo{
  /* CONTEST INFO */
  font-family: 'gabarito';
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  /* Golden Gradient */
  background: linear-gradient(180deg, #FFEB53 31.9%, #FFFEB1 46.4%, #FFD269 68.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent;
  -webkit-text-stroke: 2px #a12c0b;
  paint-order: stroke background;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  border: 2px solid #A12C0B; */
  position: relative;
  z-index: 1;
}
.evilInfo{
  position: absolute;
  -webkit-text-stroke: 2px #a12c0b;
  top: 0;
}
.fix-stroke {
  paint-order: stroke fill;
}
.paragraphText{
  font-family: 'poppins';
  font-weight: 500;
  font-size: 16px;
  color: white;
  line-height: 30px;
}
.formSubHeading{
  font-family: 'poppins';
  font-weight: 700;
  font-size: 20px;
  color: white;
  margin: 12px 0 16px 0;
}
.formLabel{
  font-family: 'poppins';
  font-weight: 500;
  font-size: 16px;
  color: white;
  /* max-width: 40%; */
}

#formBody{
  width: 1200px;
  height: 652px;
  margin: 80px auto;
  display: flex;
  flex-direction: row;
  background: rgb(158,34,144);
  background: radial-gradient(circle, rgba(158,34,144,1) 0%, rgba(65,15,87,1) 62%, rgba(30,10,60,1) 100%);
  border: 4px solid #FF95D4;
  border-radius: 60px;
  padding: 5% 5% 8% 5%;
  filter: drop-shadow(0 0 50px 10px #FF77A2);
  justify-content: space-between;
}
#formSiding{
  width: 50%;
}
#formContent{
  width: 45%;
}
form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.formWide{
  width: 480px;
  height: 40px;
  border-radius: 10px;
  border: #FFFFFF solid 2px;
  background-color: #4C2A4E;
  color: white;
  padding: 4px;
  margin-top: 12px;
}
.formHalf{
  width: 230px;
  height: 40px;
  border-radius: 10px;
  border: #FFFFFF solid 2px;
  background-color: #4C2A4E;
  color: white;
  padding: 4px;
  margin-top: 12px;
}
.formElement{
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  margin-bottom: 18px;
}
.formError{
  display: none;
}
.formWide:focus + .formError{
  display: block;
  top: 76px;
  position: absolute;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  filter: drop-shadow( 0.1rem 0.5rem 0.5rem rgb(10, 10, 10));
  z-index: 8;
}
.formHalf:focus + .formError{
  display: block;
  top: 76px;
  position: absolute;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  filter: drop-shadow( 0.1rem 0.5rem 0.5rem rgb(10, 10, 10));
  z-index: 8;
}


.formButtons{
  display: flex;
  flex-direction: row;
  /* padding: 32px 0; */
  /* gap: 18px; */
}
/* .formButtonContainer{
  display: flex;
  flex-direction: row;
} */
.pageButton{
  width: 106px;
  height: 48px;
  border: 4px solid #0E1F25;
  border-radius: 10px;
  display: flex;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.nextButton{
  background: linear-gradient(180deg, #0094D7 0%, #00BDDD 15%, #FFFFFF 50%, #00BDDD 85%, #0094D7 100%);
  box-shadow: 0px 0px 15px 2px #91E4FF;
}
.backButton{
  background: linear-gradient(180deg, #695507 0%, #F8E74C 15.49%, #FFF3EF 50.49%, #F8E74C 84.99%, #695507 100%);
  box-shadow: 0px 0px 15px 2px #F8D757;
  margin-right: 16px;
}

.nextButtonButton{
  width: 106px;
  height: 48px;
  border: 4px solid #0E1F25;
  border-radius: 10px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;

  background: linear-gradient(180deg, #0094D7 0%, #00BDDD 15%, #FFFFFF 50%, #00BDDD 85%, #0094D7 100%);
  box-shadow: 0px 0px 15px 2px #91E4FF;
  margin-right: auto;
}
.inactive{
  filter: grayscale(0.5), brightness(0.9);
}


.No-Display{
  display: none;
}