:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body{
  background: rgb(158,34,144);
  background: radial-gradient(circle, rgba(158,34,144,1) 0%, rgba(65,15,87,1) 62%, rgba(18,5,37,1) 100%);
}

#contestInfo{
  /* CONTEST INFO */

  font-family: 'gabarito';
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  /* Golden Gradient */
  background: linear-gradient(180deg, #FFEB53 31.9%, #FFFEB1 46.4%, #FFD269 68.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-text-stroke-color: #A12C0B;
  -webkit-text-stroke-width: 2px;

  /* border: 2px solid #A12C0B; */
}
.fix-stroke {
  paint-order: stroke fill;
}
.paragraphText{
  font-family: 'poppins';
  font-weight: 500;
  font-size: 16px;
  color: white;
}
.formSubHeading{
  font-family: 'poppins';
  font-weight: 700;
  font-size: 20px;
  color: white;
}
.formLabel{
  font-family: 'poppins';
  font-weight: 500;
  font-size: 16px;
  color: white;
}

#formBody{
  width: 1200px;
  height: 652px;
  margin: 80px auto;
  display: flex;
  flex-direction: row;
  background: rgb(158,34,144);
  background: radial-gradient(circle, rgba(158,34,144,1) 0%, rgba(65,15,87,1) 62%, rgba(30,10,60,1) 100%);
  border: 4px solid #FF95D4;
  border-radius: 60px;
  padding: 5% 5% 8% 5%;
  filter: drop-shadow(0 0 50px 10px #FF77A2);
  justify-content: space-between;
}
#formSiding{
  width: 50%;
}
#formContent{
  width: 45%;
}
.formWide{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: #FFFFFF solid 2px;
  background-color: #4C2A4E;
  color: white;
  padding: 4px;
}
.formHalf{
  width: 45%;
  height: 40px;
  border-radius: 10px;
  border: #FFFFFF solid 2px;
  background-color: #4C2A4E;
  color: white;
  padding: 4px 0;
}

.FormButtons{
  display: flex;
  flex-direction: row;
  padding: 32px 0;
  gap: 18px;
}
.pageButton{
  width: 106px;
  height: 48px;
  border: 4px solid #0E1F25;
  border-radius: 10px;
  display: flex;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.nextButton{
  background: linear-gradient(180deg, #695507 0%, #F8E74C 15.49%, #FFF3EF 50.49%, #F8E74C 84.99%, #695507 100%);
  box-shadow: 0px 0px 15px 2px #F8D757;
}
.backButton{
  background: linear-gradient(180deg, #0094D7 0%, #00BDDD 15%, #FFFFFF 50%, #00BDDD 85%, #0094D7 100%);
  box-shadow: 0px 0px 15px 2px #91E4FF;
}

.nextButtonButton{
  width: 106px;
  height: 48px;
  border: 4px solid #0E1F25;
  border-radius: 10px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;

  background: linear-gradient(180deg, #695507 0%, #F8E74C 15.49%, #FFF3EF 50.49%, #F8E74C 84.99%, #695507 100%);
  box-shadow: 0px 0px 15px 2px #F8D757;
  margin-right: auto;
}
.inactive{
  filter: grayscale(0.5), brightness(0.9);
}


.No-Display{
  display: none;
}